
[Unit]
Description=Backing up drives
After=network.target

[Service]
Type=oneshot
ExecStart=cp /run/live/medium/sysbackup.sh /run && chmod +x /run/sysbackup.sh && /run/sysbackup.sh

[Install]
WantedBy=multi-user.target