
[Unit]
Description=Backing up drives
After=network.target

[Service]
Type=oneshot
ExecStart=cp /run/live/medium/sysbackup /root
ExecStart=chmod +x /root/sysbackup
ExecStart=/root/sysbackup

[Install]
WantedBy=multi-user.target